<!DOCTYPE html>
<html>
<head>
  <title>CachingDemo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<a href="/dumbest">dumbest</a>
	<br>
	<a href="/plucked">plucked</a>
	<br>
	<a href="/poorly_fragment_cached">poorly_fragment_cached</a>
	<br>
	<a href="/smartly_fragment_cached">smartly_fragment_cached</a>
	<br>
	<a href="/dumb_304.png">dumb 304 sequence diagram</a>
	<br>
	<a href="/dumb_304">dumb_304</a>
	<br>
	<a href="/smart_304.png">smart 304 sequence diagram</a>
	<br>
	<a href="/smart_304">smart_304</a>
	<br>

<%= yield %>

</body>
</html>
